html
    head
        title= title
    body
        div
            form(action='/searchResult/' + 'searchFirst', method='post')
                input(type='text', name='searchFirst', value='Search First Name')
                input(type='submit', value='Search')

        table(style='width: 100%:, color: blue:')
            thead
                tr
                    th First
                    th Last
                    th Email
                    th Age
                    th User Id

            tbody
                each user in userArray
                    tr
                        td #{user.first}
                        td #{user.last}
                        td #{user.email}
                        td #{user.age}
                        td #{user._id}
                        td
                            a(href='/edit/' + user._id) Edit User
                        td
                            a(href='/delete/' + user._id) Delete User
        br
        br
        a(href='/addUser') Add new user

